@media only screen and (max-width: 800px) {
  .detailsbox {
    width: 200px;
    padding: 3vmin 2vmin;
  }
  .flexB {
    width: 100%;
  }
  .info {
    font-size: 18px;
  }
}
@media only screen and (max-width: 585px) {
  .flexB {
    flex-direction: column;
    height: auto;
    width: 80%;
  }
  .detailsbox {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1vmin;
  }
  .info {
    font-size: 20px;
  }
  .detailsbox::after {
    display: none;
  }
}
